*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    transition: all .2s;
}

.current-color{
    margin-bottom: 200px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 48px;
    transition: all .2s;
}
.random-color{
    padding: 10px 20px;
    font-size: 44px;
    border-color: black;
    border: 2px solid;
    color: black;
    background-color: #fff;
    transition: all .2s;
}
.random-color:hover{
    cursor: pointer;
    color: #fff;
    background-color: black;
}